# ENVIRONNEMENT
APP_ENV="production"
APP_NAME="Byfect"
APP_URL="http://localhost"
APP_BASE_PATH="/public"
SITE_NAME="Byfect"

# BASE DE DONNEES (app)
DB_HOST="db"
DB_PORT="3306"
DB_NAME="byfect"
DB_USER="byfect"
DB_PASS="ChangeMeStrong!"

# MARIADB (docker)
MARIADB_ROOT_PASSWORD="ChangeMeRoot!"
MARIADB_DATABASE="byfect"
MARIADB_USER="byfect"
MARIADB_PASSWORD="ChangeMeStrong!"

# APIs
BREVO_API_KEY="ChangeMe"
HCAPTCHA_SECRET="ChangeMe"
